.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
}
.item{
    background-color: aqua;
    border: 2px solid rgb(43, 4, 78);
    counter-increment: item;
}
.item::before{
    content: counter(item);
}
.item:nth-child(1){
    grid-row-start: 1;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end:3;
}